/********** CSS theme file for CalendarXP 4.0 ********/
/* control the layout, font and font-color of the calendar cell */
.CalHead {text-align:center; font:8pt Arial; color:#4682b4;}
.CalCell {cursor:hand; text-align:center;}
.CellAnchor {text-decoration:none; font:8pt Arial;}

/* styles for the "today" part at the bottom */
.Today {text-decoration:none; font:bold 10pt Arial; color:white;}

/* styles for the date selectors (buttons and combos) & text at the top */
.MonthNav {vertical-align:middle; text-decoration:none; font:bold 9pt Arial; color:black;}
.CalTitle {vertical-align:middle; font:bold 9pt Courier; color:white;}
