
/* trying to get rid of #session.workstream_text_size#*/

/*<!--- Ngauge Styles --->*/

/*<!---SIZES--> */
	/*<!---15px--> */
	.HeadText,
	.HeadTextWhite
	{
		font-size: 15px;
	}
	
	/*<!---13px--> */
	.Note,
	.SubHeadText,
	.SubHeadTextWhite
	{
		font-size: 13px;
	}
	
	/*<!---11px--> */
	.RegText,
	.RegTextBd,
	.RegTextWhite,
	.SelectText,
	.RegTextIt,
	.RegTextRed
	{
		font-size: 11px;
	}
	
/*<!---COLOR--> */
	/*<!---Black/Regular--> */
	.HeadText,
	.SubHeadText,
	.RegTextBd,
	.RegText,
	.RegTextBd,
	.RegTextIt
	{
		color: #000000;
	}
	
	/*<!---Blue--> */
	A.RegText
	{
		color: #483d8b;
	}
	
	/*<!---White--> */
	.HeadTextWhite,
	.SubHeadTextWhite,
	.RegTextWhite,
	A.RegTextWhite,
	.SelectText
	{
		color: #ffffff;
	}
	
	/*<!---Red--> */
	.BoldNoteRed,
	.RegTextRed
	{
		color: #ff0000;
	}
	
	/*<!---Orange--> */
	.Note
	{
		color: #FF8000;
	}

/*<!---FONT-WEIGHT--> */
	/*<!---Normal--> */
	.Note,
	.RegText,
	.RegTextWhite,
	.RegTextIt,
	.RegTextRed,
	.SelectText
	{
		font-weight: normal;
	}
	
	/*<!---Bold--> */
	.HeadText,
	.HeadTextWhite,
	.SubHeadText,
	.SubHeadTextWhite,
	.RegTextBd
	{
		font-weight: bold;
	}
	
	
/*<!---MISCELLANEOUS--> */
	/*<!---Font--> */
	.Note
	{
		font-family: geneva, verdana, Tahoma, sans-serif, Arial;
	}
	
	.HeadText,
	.HeadTextWhite,
	.SubHeadText,
	.SubHeadTextWhite,
	.RegText,
	.RegTextBd,
	.RegTextWhite,
	.RegTextIt,
	.RegTextRed,
	.SelectText
	{
		font-family: Trebuchet MS, Tahoma, sans-serif, Arial;
	}

	/*<!---Style/Variant/Decoration--> */
	.HeadText,
	.HeadTextWhite,
	.SubHeadText,
	.SubHeadTextWhite,
	.RegText,
	.RegTextBd,
	.RegTextWhite,
	.RegTextRed,
	.Note,
	.NoteBdRed
	{
		font-style: normal;
		font-variant: normal;
		text-decoration: none;
	}

	.RegTextIt
	{
		font-style: italic;
	}
	
/*<!---BACKGROUND--> */
	/*<!---Light Blue--> */
	.SelectText
	{
		background: #78A0EB;
	}

/*<!---HOVER--> */
	A.RegText:hover,
	A.RegTextWhite:hover
	{
		color: #970000;
	}