.cfdebug {
	display: none;
	}
.container {
	}
.screen_only {
	display: none;
	}
.loginBox {
	position:relative;
	left:0px;
	top:0px;
	width:302px;
	height:202px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	}
.main_body {
	}
textarea {
	width:600px;
	height:500px;
	border:1px solid #000000;
	background-color:#CCCCCC;
	}