.screen_only {
	}
.loginBox {
	position:relative;
	left:0px;
	top:0px;
	width:302px;
	height:202px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	}
.login_background {
	background-color:black;
	background-image: url(../images/login_splash.jpg);
	background-repeat:no-repeat;
	}