@import url("Workstream.css");

/*<!--- Workstream Styles --->*/

/*<!---SIZES--> */
	/*<!---15px--> */
	.HeadText,
	.HeadTextWhite
	{
		font-size: 15px;
	}
	
	/*<!---13px--> */
	.Note,
	.SubHeadText,
	.SubHeadTextWhite
	{
		font-size: 13px;
	}
	
	/*<!---11px--> */
	.RegText,
	.RegTextBd,
	.RegTextWhite,
	.SelectText,
	.RegTextIt,
	.RegTextRed
	{
		font-size: 11px;
	}
