[class^="icon_"], [class^="status_"], [class^="task_"] {
  display: inline-block;
  vertical-align: text-top;
  background-image: url("../images/spritepad_Workstream.png");
  background-repeat: no-repeat;

  .ie7-restore-right-whitespace();
}

.icon_book{
	background-position: 0 -1px ;
	width: 16px;
	height: 16px;
}

.icon_calendar{
	background-position: -18px -1px ;
	width: 16px;
	height: 16px;
}

.icon_careful{
	background-position: -36px -1px ;
	width: 16px;
	height: 16px;
}

.icon_cd{
	background-position: -54px -1px ;
	width: 16px;
	height: 16px;
}

.icon_chart_bar{
	background-position: -72px -1px ;
	width: 16px;
	height: 16px;
}

.icon_chart_line{
	background-position: -90px -1px ;
	width: 16px;
	height: 16px;
}

.icon_chart_pie{
	background-position: -108px -1px ;
	width: 16px;
	height: 16px;
}

.icon_chart_vbar{
	background-position: -126px -1px ;
	width: 16px;
	height: 16px;
}

.icon_clock{
	background-position: -144px -1px ;
	width: 16px;
	height: 16px;
}

.icon_code{
	background-position: -162px -1px ;
	width: 16px;
	height: 16px;
}

.icon_dollar{
	background-position: -88px -19px ;
	width: 16px;
	height: 16px;
}

.icon_database{
	background-position: -217px -37px ;
	width: 16px;
	height: 16px;
}

.icon_door{
	background-position: -160px -19px ;
	width: 16px;
	height: 16px;
}

.icon_earth{
	background-position: -235px -37px ;
	width: 16px;
	height: 16px;
}

.icon_estimate{
	background-position: 0 -18px ;
	width: 16px;
	height: 16px;
}

.icon_face_cool{
	background-position: -35px -19px ;
	width: 15px;
	height: 15px;
}

.icon_face_shock{
	background-position: -18px -19px ;
	width: 15px;
	height: 15px;
}

.icon_face_smile{
	background-position: -19px -36px ;
	width: 15px;
	height: 15px;
}

.icon_face_wink{
	background-position: -52px -19px ;
	width: 16px;
	height: 16px;
}

.icon_forever{
	background-position: -106px -19px ;
	width: 16px;
	height: 16px;
}

.icon_file_cfm{
	background-position: -163px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_doc{
	background-position: -181px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_gif{
	background-position: -199px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_htm{
	background-position: -1px -54px ;
	width: 16px;
	height: 16px;
}

.icon_file_jpg{
	background-position: -19px -54px ;
	width: 16px;
	height: 16px;
}

.icon_file_msg{
	background-position: -37px -54px ;
	width: 16px;
	height: 16px;
}

.icon_file_na{
	background-position: -55px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_pdf{
	background-position: -109px -53px ;
	width: 16px;
	height: 16px;
}

.icon_file_ppt{
	background-position: -127px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_sql{
	background-position: -73px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_txt{
	background-position: -91px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_vsd{
	background-position: -145px -55px ;
	width: 16px;
	height: 16px;
}

.icon_file_xls{
	background-position: -217px -54px ;
	width: 16px;
	height: 16px;
}

.icon_file_zip{
	background-position: -124px -19px ;
	width: 16px;
	height: 16px;
}

.icon_flag{
	background-position: -36px -36px ;
	width: 16px;
	height: 16px;
}

.icon_gear{
	background-position: -108px -37px ;
	width: 16px;
	height: 16px;
}

.icon_HTML5{
	background-position: -126px -37px ;
	width: 16px;
	height: 16px;
}

.icon_light_bulb{
	background-position: -180px -1px ;
	width: 16px;
	height: 16px;
}

.icon_network{
	background-position: -236px -18px ;
	width: 16px;
	height: 16px;
}

.icon_person{
	background-position: -218px -19px ;
	width: 16px;
	height: 16px;
}

.icon_pirate{
	background-position: -70px -19px ;
	width: 16px;
	height: 16px;
}

.icon_phone{
	background-position: -144px -37px ;
	width: 16px;
	height: 16px;
}

.icon_pie{
	background-position: -181px -19px ;
	width: 16px;
	height: 16px;
}

.icon_pirate{
	background-position: -198px -37px ;
	width: 16px;
	height: 16px;
}

.icon_plug{
	background-position: -216px -1px ;
	width: 16px;
	height: 16px;
}

.icon_research{
	background-position: -1px -36px ;
	width: 16px;
	height: 16px;
}

.icon_server{
	background-position: -90px -37px ;
	width: 16px;
	height: 16px;
}

.icon_shield{
	background-position: -72px -37px ;
	width: 16px;
	height: 16px;
}

.icon_soccer{
	background-position: -54px -37px ;
	width: 16px;
	height: 16px;
}

.icon_star{
	background-position: -142px -19px ;
	width: 16px;
	height: 16px;
}

.icon_talk{
	background-position: -162px -37px ;
	width: 16px;
	height: 16px;
}

.icon_toxic{
	background-position: -198px -1px ;
	width: 16px;
	height: 16px;
}

.icon_trash{
	background-position: -234px -1px ;
	width: 15px;
	height: 15px;
}

.icon_workstream{
	background-position: -199px -19px ;
	width: 17px;
	height: 16px;
}

.icon_wrench{
	background-position: -180px -37px ;
	width: 16px;
	height: 16px;
}

.task_base{
	background-position: -235px -55px ;
	width: 9px;
	height: 10px;
}

.task_sub{
	background-position: -246px -60px ;
	width: 9px;
	height: 10px;
}