/* import bootstrap components from bootstrap-dedicated folder */
@import "../../../external/bootstrap/less/bootstrap.less";
@import "../../../external/bootstrap/less/responsive.less";
@import "spritepad_Workstream.less";
@import "bootstrap-tree.less";
@import "bootstrap-dataTables.less";

/* custom settings that deviate from Bootstrap's default values; set *after* the bootstrap imports */
@sansFontFamily: Trebuchet MS, Tahoma, sans-serif, Arial;
@baseFontSize: 11px;
@baseLineHeight: 18px;
@iconSpritePath: "../../external/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../external/bootstrap/img/glyphicons-halflings-white.png";
@linkColor: #483d8b;

.navbar-search {
	.input-append {
		.btn {
			margin-left: -1px;
			.border-radius(0 0 0 0);
		}
		.search-query {
			.border-radius(14px 0 0 14px);
		}
		
		.btn:last-child {
			.border-radius(0 14px 14px 0);
		}
	}
}

.form-inline {
	fieldset {
		display: inline;
	}
	legend.control-label {
		border-bottom: 0;
		display: inline-block;
		line-height: inherit;
		margin-bottom: 0;
	}
}

/* general settings */
body {
	padding-top: 20px;
	padding-bottom: 40px;
}

footer {
	background-color: @gray;
	color: @white;
}

/* ===== Primary Styles ========================================================
   Author: Jeromy French
   ========================================================================== */

.faux-textarea {
	.uneditable-input;
	cursor: auto;
	margin-left: 0px !important;
	overflow-y: auto;
	white-space: pre-line;
	p {
		margin-bottom: 0px;
		padding-left: 10px;
		text-indent: -10px !important; //outdent first line of each note
	}
}

.cursor_help {
	cursor:help;
}

#help_area {
	padding: 2px;
}

/*medium screens (and larger)*/
@media (min-width: 769px) {
	footer {
		bottom: 0px;
		opacity: 0.8;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	footer div[class*="span"] {
		min-height: 0px !important;
	}

	#help_area {
		position: fixed;
		right: 10px;
	}
	.js .help_top {
		height: 140px;
		overflow-y: auto;
	}
	.js .help_main {
		border-top: 1px solid #ddd;
		height: 460px;
		overflow-y: auto;
	}

	#blurb_dashboard [class*="span"] {
		overflow: hidden;
		text-align: right;
	}
}

/*wide screens*/
@media (min-width: 980px) {
	.nav li.dropdown ul.dropdown-menu li:HOVER ul {
		display: block; 
		position: absolute; 
		left: 100%;
		.border-radius(3px);
	}
	
	.nav li.dropdown ul.dropdown-menu ul {
		display: none;
		float: right;
		position: relative;
		top: auto;
		margin-top: -30px;
	}
}

/*thin screens*/
@media (max-width: 768px) {
	#help_area {
		position: static;
	}
	.js .help_top {
		height: 100px;
		overflow-y: auto;
	}
	.js .help_main {
		border-top: 1px solid #ddd;
		height: 220px;
		overflow-y: auto;
	}
}

/*<!---text alignment--> */

	.date, td.date {
		text-align: center;
	}

	.number, table td.number, table td.graph_data {
		text-align:right;
	}
	
	
// HEADINGS
// --------

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: bold;
  color: @grayDark;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: @grayLight;
  }
}
.h1 {
  font-size: 30px;
  line-height: @baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
.h2 {
  font-size: 24px;
  line-height: @baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
.h3 {
  line-height: @baseLineHeight * 1.5;
  font-size: 18px;
  small {
    font-size: 14px;
  }
}
.h4, .h5, .h6 {
  line-height: @baseLineHeight;
}
.h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
.h5 {
  font-size: 12px;
}
.h6 {
  font-size: 11px;
  color: @grayLight;
  text-transform: uppercase;
}
