@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "spritepad_Workstream.less";

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

footer {
	background-color: @gray;
	color: @white;
}

.nav li.dropdown ul.dropdown-menu li:HOVER ul {
	display: block; 
	position: absolute; 
	left: 100%;
	.border-radius(3px);
}

.nav li.dropdown ul.dropdown-menu ul {
	display: none;
	float: right;
	position: relative;
	top: auto;
	margin-top: -30px;
}

/* ===== Primary Styles ========================================================
   Author: Jeromy French
   ========================================================================== */

.faux-textarea {
	.uneditable-input;
	cursor: auto;
	margin-left: 0px !important;
	overflow-y: auto;
	white-space: pre-line;
}

.faux-textarea p {
	margin-bottom: 0px;
	padding-left: 10px;
	text-indent: -10px !important; //outdent first line of each note
}

/*help area*/
	.cursor_help {
		cursor:help;
	}

/*wide screens*/
@media (min-width: 769px) {
	footer {
		bottom: 0px;
		opacity: 0.8;
        	position: fixed;
        	right: 0;
        	left: 0;
        	z-index: 1030;
	}
	footer div[class*="span"] {
		min-height: 0px !important;
	}

	#login_box {
        	position: relative;
        	left:540px;
		width: 450px;
	}

	#help_area {
		position: fixed;
		right: 10px;
	}
	.js .help_top {
		height: 220px;
		overflow-y: auto;
	}
	.js .help_main {
		border-top: 1px solid #ddd;
		height: 520px;
		overflow-y: auto;
	}
}

/*thin screens*/
@media (max-width: 768px) {
	footer {
		position: static;
	}
	#login_box {
		width: 90%;
	}
	#help_area {
		position: static;
	}
	.js .help_top {
		height: 100px;
		overflow-y: auto;
	}
	.js .help_main {
		border-top: 1px solid #ddd;
		height: 220px;
		overflow-y: auto;
	}
}

.login_background {
	background-color: @grayLight;
	background-image: url(../../images/login_splash.jpg);
	background-repeat: no-repeat;
}

div#login_form { 
	.border-radius(3px);
	border: solid;
	border-color: @grayDarker;
	background-color: @white;
	opacity: 0.8;
	display: none;
}

div#login_form form, #login_form form div.form-actions { 
	margin-bottom: 0px;
}

#blurb_dashboard [class*="span"] {
	overflow: hidden;
	text-align: right;
}

/*<!---text alignment--> */

	.date, td.date {
		text-align: center;
	}

	.number, table td.login, table td.number {
		text-align:right;
	}
	
	
// HEADINGS
// --------

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: bold;
  color: @grayDark;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: @grayLight;
  }
}
.h1 {
  font-size: 30px;
  line-height: @baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
.h2 {
  font-size: 24px;
  line-height: @baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
.h3 {
  line-height: @baseLineHeight * 1.5;
  font-size: 18px;
  small {
    font-size: 14px;
  }
}
.h4, .h5, .h6 {
  line-height: @baseLineHeight;
}
.h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
.h5 {
  font-size: 12px;
}
.h6 {
  font-size: 11px;
  color: @grayLight;
  text-transform: uppercase;
}

